<% include _header %>

<h1>编辑个人资料</h1>

<form action="/mongodbapp/edit" method="post">
  <input name="displayname" type="text" class="form-control" placeholder="首页显示名称" value="<%= currentUser.displayName || "" %>">
  <textarea name="bio" class="form-control" placeholder="一句话说明"><%= currentUser.bio || "" %></textarea>
  <input type="submit" value="更新信息" class="btn btn-success btn-block">
</form>

<% include _footer %>
