<% include _header %>

<h1>用户登入</h1>

<form action="/mongodbapp/login" method="post">
  <input name="username" type="text" class="form-control" placeholder="用户名" required autofocus>
  <input name="password" type="password" class="form-control" placeholder="密码" required>
  <input type="submit" value="登入" class="btn btn-success btn-block">
</form>

<% include _footer %>
