#canvasAnimation {
    cursor: pointer;
    border: 1px solid black;
    background:white
}
  
.animationdiv {
    margin-top: 6px;
    margin-bottom:10px;   
}

.animationdiv button{
    margin-right:5px
}

.animationContainer{
    margin-top:75px;
    display: flex;
    justify-content:center;
  }

#ballSize{
    width:70px;
    margin-left:5px;
    margin-right: 15px;
}