.Webintrocontrainer{
    background:white;
    padding: 35px 0
}

.cninroduce{
    color:#212529;
    font-size:21px
}

.eninroduce {
    color:#757575;
    font-size:16px;
    margin-left:10px
}

.inrocontent {
    margin-bottom: 0px;
    margin-top:0px;
    font-size:16px;
    line-height: 32px
}

.companyimage {
    max-width: 100%;
}